main{
    background-color: antiquewhite;
    height: 500px;
    width: 650px;
    padding:5px;
    border-radius: 15px;
    display:flex;
    animation-name:mainanimation;
    animation-duration:5s;
    animation-delay:5s;
    animation-iteration-count:infinite;
}
@keyframes mainanimation{
    0%{background-color:red}
    25%{background-color:green}
    50%{background-color:blue}
    75%{background-color:cyan}
    100%{background-color:aquamarine;}
}

div{
    height:auto;
    width:50%;
    border:20px;
    border-radius: 25px;
    margin: 2px 2px 2px 2px;
    background-size:cover;
    padding: 10%;
    font-style: italic;
    background-image: url(Recursos.jpg);
}
div:hover{
    background-color: rgb(43, 226, 104);
    box-shadow:15px 30px 15px 20px cyan;
}
.div{
    background-color:aqua;
    height: 150px;
    width:80px;
    border-radius:20%;
    padding:5px;
    margin:5px;
}
.seconddiv{
     background-color: aqua;
    height: 150px;
    width:80px;
    border-radius:20%;
    padding:5px;
    margin:5px;
}
